@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    color: white;
    /* background-color: rgb(11, 26, 11); */
    background-color: white;
    margin-bottom: 400px;
}

/* Header*/
header {
    /* position:sticky;
    top: 0; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    background-color: #f4f1bb;
    padding: 0 0 0 0;
    /* color: black; */

}
 header > .container-fluid {
    padding: 0 0 0 0;
 }


header > ul {
    display: flex;
    flex-direction: row;
    /* gap: 16px; */
}

li > a {
    text-decoration: none;
}

header li {
    list-style: none;
}
#navbarSupportedContent {
    text-align: center;
}
.navbar-brand {
    padding: 0px 0 0 8px;
}

.nav-item {
    font-size: 16px;
    padding: 0 0 0 0px;
}
.container-fluid {
    padding: 0 0 0 0;
}
.contact-tel {
    font-size: 19px;
}
/* End Header*/

/* Footer*/
footer {
position: relative;    
}

/* End Footer */
/*Main*/
main {
    display: flex;
    right: 10px;
    flex-direction: row;
    min-height: 100vh;
    background-color: #9bc1bc;
    /* position: relative; */
}

.left__section {
    /* max-width: 300px;
    padding: 5px;  */
    /* margin-right: -24px; */
    position: relative;
    padding-left: 0px;
    
}
    /* 
 .left__section h2 {
    margin-top: 3px;
    padding: 13px; }*/
    



.left__section ul {
    list-style: none;
    text-decoration: none;
    position: inherit;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    /* gap: 16px; */
    /* padding: 0 0 0 26px; */
}
.left__section summary {
    list-style: none;
    text-decoration: none;
    position: inherit;
    flex-direction: row;
    /* gap: 16px; */
    padding: 0 px;
}

.category-type {
    column-count: 2;
    padding: 0 px;


}
li > a {
     text-decoration: none;
     list-style: none;
}
.col-sm-2 {
    margin-top: 8px;
    padding: 0 12px 0 12px;
    list-style: none;
    text-decoration: none;
}
.form-control {
    border: none;
    background-color: inherit;
    margin: 0px;
    
}
.me-2 {
    margin: none;
}
.image-apartments {
    width: 20px;
}

@media screen and (max-width: 800px) {
    .left__section {
        /* width: 81%; */
      margin-right: 0px;
      margin-left: 0px;
    }
    /* .navbar {
       width: 130%; 
    } */
   /*  .main {
        width: 81%;
    }
    .right__section {
        margin-right: 0px;
        width: 81%;
    } */
    .container {
        width: 100%;
        /* width: 360px; */
        margin-right: 0px;
        margin-left: 0px;
    }

  }
#about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    /* align-items: center; */
}

#about img {
    border-radius: 20%;

}

#about img:hover {
    outline: 2px solid yellow;
    cursor: pointer;
    outline-offset: 5px;
}

#about p {
    margin: 200px;
}
summary {
    display: list-item;
}

.right__section {
    background-color: #5ca4a9;
    padding: 39px;
    text-decoration: none;
}

#experience {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}
/* #experience :hover {
    box-shadow: inset 0 0 0 23px #53ea93;
  } */
  

#skills {
text-decoration: none;
}

#skills :hover {
    outline: 2px solid rgb(50, 128, 121);
    cursor: pointer;
    outline-offset: 5px;
}

#skills li {
    text-decoration: none;
    list-style: none;
}


/*End Main*/

/*Aside*/
/* aside p {
    width:20%;
    float:right;
    font-style:italic;
    animation-iteration-count: 2, 0, infinite;
} */
aside > p {
    animation: 3s infinite alternate slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 200%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
